/* Clear */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

/* Variables */
:root{
    /* Background colors */
    --bg-black: #303030;
    --bg-dados: #f9f9f9;
    --bg-sobre-nos: #fff;
    --bg-submit: #C07212;
    --bg-submit-hover: #92560c;

    /* Text color */
    --text-w: #fff;
}

h1{
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 32px;
    font-weight: 700;
}

p{
    font-size: 20px;
}

header{
    display: grid;
    gap: 20px;
    background-color: var(--bg-black);
    color: var(--text-w);
}

footer{
    padding: 87px 0;
    background-color: var(--bg-black);
    color: var(--text-w);
}

footer *{
    display: grid;
    justify-content: center;
}

form{
    margin-top: 48px;
    gap: 62px;
}

form input{
    width: 508px;
    border-radius: 10px;
    padding: 21px 30px;
    font-size: 24px;
    border: none;
    margin: 0 auto;
}

form input[type="submit"]{
    max-width: 286px;
    background-color: var(--bg-submit);    
    font-size: 30px;
    font-weight: 700;
    margin-top: 26px;
    color: (var(--text-w));
}

form input[type="submit"]:hover{
    background-color: var(--bg-submit-hover);    
}

header, section{
    padding: 0 62px;
}

#dados{
    display: flex;
    justify-content: center;
    gap: 99px;

    background-color: var(--bg-dados);
    padding-top: 96px;
    padding-bottom: 66px;
}

#sobre-nos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

    background-color: var(--bg-sobre-nos);
    padding-top: 82px;
    padding-bottom: 82px;
}

.header__content{
    display: grid;
    gap: 20px;
    margin-top: 206px;
    margin-bottom: 149px;
}

.header__content p{
    font-weight: 500;
}

.dados__content h2{
    font-weight: 600;
}

.sobre-nos__desc{
    max-width: 735px;
}

.sobre-nos__desc h2{
    font-weight: 500;
}

.sobre-nos__desc p{
    font-size: 24px;
    font-weight: 300;
}